<!--[if gte mso 9]><xml>
<o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>72</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml><![endif]-->
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')