tr#footerBg
  td(style='font-family: Microsoft JhengHei, MingLiU, sans-serif; padding: 10px 20px 10px; text-align: center; color:#555555; font-size: 12px;')
    p(style='margin: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif;')
      a.footerLink(style='line-height: 24px; color: #555555; text-decoration: none;', href='https://letswrite.tw/') 官網
      span(style='display: inline-block; color: #555555; width: 16px;') |
      a.footerLink(style='line-height: 24px; color: #555555; text-decoration: none;', href='https://www.facebook.com/letswrite.tw/') Facebook
      span(style='display: inline-block; color: #555555; width: 16px;') |
      a.footerLink(style='line-height: 24px; color: #555555; text-decoration: none;', href='https://t.me/letswritetw') Telegram
    p#footerColor(style='font-family: Microsoft JhengHei, MingLiU, sans-serif; margin-top: 0; margin-bottom: 0; line-height: 24px; font-size: 12px; color: #555555;') &copy; 2020 Let's Write. All Rights Reserved.