tr(:style='"background: " + footer_bg')
  td(style='font-family: Microsoft JhengHei, MingLiU, sans-serif; padding: 10px 20px 10px; text-align: center; color:#555555; font-size: 12px;')
    p(style='margin: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif;')
      a(:style='"line-height: 24px; text-decoration: none; color: " + footer_link', href='https://letswrite.tw/') 官網
      span(style='display: inline-block; color: #555555; width: 16px;') |
      a(:style='"line-height: 24px; text-decoration: none; color: " + footer_link', href='https://www.facebook.com/letswrite.tw/') Facebook
      span(style='display: inline-block; color: #555555; width: 16px;') |
      a(:style='"line-height: 24px; text-decoration: none; color: " + footer_link', href='https://t.me/letswritetw') Telegram
    p(:style='"font-family: Microsoft JhengHei, MingLiU, sans-serif; margin-top: 0; margin-bottom: 0; line-height: 24px; font-size: 12px; color: " + footer_color') &copy; 2020 Let's Write. All Rights Reserved.